.success-message {
    color: #2c5282;
    background-color: #ebf8ff;
    padding: 0.5rem;
    margin-top: 1rem;
    border-radius: 5px;
    text-align: center;
}

.error-message {
    color: #c53030;
    background-color: #fff5f5;
    padding: 0.5rem;
    margin-top: 1rem;
    border-radius: 5px;
    text-align: center;
}